<form class="editable flexcol" autocomplete="off">
    {{!-- {{#if isGM}} --}}
        <header class="sheet-header">
            <img src="{{img}}" data-edit="img" title="{{name}}" height="64" width="64"/>
            <h1><input name="name" type="text" value="{{name}}" placeholder="Name" disabled/></h1>
        </header>
        <!--
        {{#if showExtraButtons}}
            <div class="controlls">
                <button class="moveToNote">{{localize "GMNote.moveToNote"}}</button>
                <button class="moveToDescription">{{localize "GMNote.moveToDescription"}}</button>
            </div>
        {{/if}}
        -->
        <!--
        <p class="controlls">{{localize "environment-interaction.note.event"}}</p><br></br>
        {{editor content=flags.environment-interaction.notes target="flags.environment-interaction.notes" button=true owner=owner editable=true}}<br></br>
        <p class="controlls">{{localize "environment-interaction.note.event-condition"}}</p><br></br>
        {{editor content=flags.environment-interaction.notes-condition target="flags.environment-interaction.notes-condition" button=true owner=owner editable=true}}<br></br>
        <p class="controlls">{{localize "environment-interaction.note.event-success"}}</p><br></br>
        {{editor content=flags.environment-interaction.notes-success target="flags.environment-interaction.notes-success" button=true owner=owner editable=true}}<br></br>
        <p class="controlls">{{localize "environment-interaction.note.event-failure"}}</p><br></br>
        {{editor content=flags.environment-interaction.notes-failure target="flags.environment-interaction.notes-failure" button=true owner=owner editable=true}}<br></br>
        -->
        <div class="form-group stacked">
            <label>{{localize "environment-interaction.note.event-use-environment-interaction"}}</label>
            <div class="form-fields">
                <input type="checkbox" name="flags.environment-interaction.notes-use-environment-interaction" 
                    value="{{flags.environment-interaction.notes-use-environment-interaction}}" 
                    {{checkedIf flags.environment-interaction.notes-use-environment-interaction}} />
            </div>
        </div>
        <div class="form-group stacked">
            <label>{{localize "environment-interaction.note.event-use-item-macro"}}</label>
            <div class="form-fields">
                <input type="checkbox" name="flags.environment-interaction.notes-use-item-macro" 
                    value="{{flags.environment-interaction.notes-use-item-macro}}" 
                    {{checkedIf flags.environment-interaction.notes-use-item-macro}} />
            </div>
        </div>
        <div class="form-group stacked">
            <label>{{localize "environment-interaction.note.event-use-item-environment"}}</label>
            <div class="form-fields">
                <input type="checkbox" name="flags.environment-interaction.notes-use-item-environment" 
                    value="{{flags.environment-interaction.notes-use-item-environment}}" 
                    {{checkedIf flags.environment-interaction.notes-use-item-environment}} />
            </div>
        </div>
        <div class="form-group stacked">
            <label>{{localize "environment-interaction.note.event-detail"}}</label>
            <div class="form-fields">
                <input type="text" name="flags.environment-interaction.notes-detail" placeholder="" value="{{flags.environment-interaction.notes-detail}}" />
            </div>
        </div>
        <!--
        <div class="form-group stacked">
            <label>{{localize "environment-interaction.note.event-info"}}</label>
            <div class="form-fields">
                <textarea name="flags.environment-interaction.notes-info">{{flags.environment-interaction.notes-info}}</textarea> 
            </div>
        </div>
        -->
        <div class="form-group stacked notes-info">
            <label>{{localize "environment-interaction.note.event-info"}}</label>
            {{editor content=flags.environment-interaction.notes-info target="flags.environment-interaction.notes-info" button=true owner=owner editable=true}}
        </div>
        <div class="form-group stacked">
            <label>{{localize "environment-interaction.note.event"}}</label>
            <div class="form-fields">
                <textarea name="flags.environment-interaction.notes">{{flags.environment-interaction.notes}}</textarea>
            </div>
        </div>
        <div class="form-group stacked command notes-condition">
            <label>{{localize "environment-interaction.note.event-condition"}}</label>
            <div class="form-group">
                <textarea name="flags.environment-interaction.notes-condition">{{flags.environment-interaction.notes-condition}}</textarea>
            </div>
            <input type="text" name="flags.environment-interaction.notes-condition-args" 
                class="ei-macro-execute-args-button-{{id}}-{{flags.environment-interaction.notes-condition-args}}"
                placeHolder="Additional args e.g.'arg0,arg1,ecc.' on the macro are recovered from args[0],args[1],ecc."
                value="{{flags.environment-interaction.notes-condition-args}}" />
        </div>
        <div class="form-group stacked command notes-success">
            <label>{{localize "environment-interaction.note.event-success"}}</label>
            <div class="form-group">
                <textarea name="flags.environment-interaction.notes-success">{{flags.environment-interaction.notes-success}}</textarea>
            </div>
            <input type="text" name="flags.environment-interaction.notes-success-args" 
                class="ei-macro-execute-args-button-{{id}}-{{flags.environment-interaction.notes-success-args}}"
                placeHolder="Additional args e.g.'arg0,arg1,ecc.' on the macro are recovered from args[0],args[1],ecc."
                value="{{flags.environment-interaction.notes-success-args}}" />
        </div>
        <div class="form-group stacked command notes-failure">
            <label>{{localize "environment-interaction.note.event-failure"}}</label>
            <div class="form-group">
                <textarea name="flags.environment-interaction.notes-failure">{{flags.environment-interaction.notes-failure}}</textarea>
            </div>
            <input type="text" name="flags.environment-interaction.notes-failure-args" 
                class="ei-macro-execute-args-button-{{id}}-{{flags.environment-interaction.notes-failure-args}}"
                placeHolder="Additional args e.g.'arg0,arg1,ecc.' on the macro are recovered from args[0],args[1],ecc."
                value="{{flags.environment-interaction.notes-failure-args}}" />
        </div>

        <footer class="sheet-footer flexrow">
            <!--
            <button type="submit"><i class="fas fa-save"></i> {{ localize "buttons.saveMacro" }}</button>
            <button class="execute" type="button"><i class="fas fa-dice-d20"></i> {{ localize "buttons.executeMacro" }}</button>
            -->
        </footer>
    {{!-- {{/if}} --}}
</form>
