<form class="editable flexcol" autocomplete="off">
    {{!-- {{#if isGM}} --}}
        <header class="sheet-header">
            <img src="{{img}}" data-edit="img" title="{{name}}" height="64" width="64"/>
            <h1><input name="name" type="text" value="{{name}}" placeholder="Name" disabled/></h1>
        </header>
        <!--
        {{#if showExtraButtons}}
            <div class="controlls">
                <button class="moveToNote">{{localize "GMNote.moveToNote"}}</button>
                <button class="moveToDescription">{{localize "GMNote.moveToDescription"}}</button>
            </div>
        {{/if}}
        -->
        <div class="form-group stacked">
            <div class="form-group" data-toggle='tooltip' data-placement='right' data-original-title="{{localize "environment-interaction-multisystem.note.event-use-environment-interaction"}}">
                <input type="checkbox" name="flags.environment-interaction-multisystem.notes-use-environment-interaction"
                    value="{{flags.environment-interaction-multisystem.notes-use-environment-interaction}}"
                    {{checkedIf flags.environment-interaction-multisystem.notes-use-environment-interaction}}/>
                <label>{{localize "environment-interaction-multisystem.note.event-use-environment-interaction"}}</label>
            </div>
        </div>
        <div class="form-group stacked">
            <div class="form-group" data-toggle='tooltip' data-placement='right' data-original-title="{{localize "environment-interaction-multisystem.note.event-use-item-macro"}}">
                <input type="checkbox" name="flags.environment-interaction-multisystem.notes-use-item-macro"
                    value="{{flags.environment-interaction-multisystem.notes-use-item-macro}}"
                    {{checkedIf flags.environment-interaction-multisystem.notes-use-item-macro}}/>
                <label>{{localize "environment-interaction-multisystem.note.event-use-item-macro"}}</label>
            </div>
        </div>
        <div class="form-group stacked">
            <div class="form-group" data-toggle='tooltip' data-placement='right' data-original-title="{{localize "environment-interaction-multisystem.note.event-use-item-environment"}}">
                <input type="checkbox" name="flags.environment-interaction-multisystem.notes-use-item-environment"
                    value="{{flags.environment-interaction-multisystem.notes-use-item-environment}}"
                    {{checkedIf flags.environment-interaction-multisystem.notes-use-item-environment}}/>
                <label>{{localize "environment-interaction-multisystem.note.event-use-item-environment"}}</label>
            </div>
        </div>
        <div class="form-group stacked">
            <div class="form-group" data-toggle='tooltip' data-placement='right' data-original-title="{{localize "environment-interaction-multisystem.note.event-use-as-macro"}}">
                <input type="checkbox" name="flags.environment-interaction-multisystem.notes-use-as-macro"
                    value="{{flags.environment-interaction-multisystem.notes-use-as-macro}}"
                    {{checkedIf flags.environment-interaction-multisystem.notes-use-as-macro}}/>
                <label>{{localize "environment-interaction-multisystem.note.event-use-as-macro"}}</label>
            </div>
        </div>
        <div class="form-group stacked">
            <label>{{localize "environment-interaction-multisystem.note.event-detail"}}</label>
            <div class="form-group">
                <input type="text" name="flags.environment-interaction-multisystem.notes-detail" placeholder="" value="{{flags.environment-interaction-multisystem.notes-detail}}" />
            </div>
        </div>
        <div class="form-group stacked notes-info">
            <label>{{localize "environment-interaction-multisystem.note.event-info"}}</label>
            <fieldset style="margin: 3px 0;">
                {{editor content=flags.environment-interaction-multisystem.notes-info target="flags.environment-interaction-multisystem.notes-info" button=true owner=owner editable=true}}
            </fieldset>
        </div>
        <div class="form-group stacked">
            <label>{{localize "environment-interaction-multisystem.note.event-explicit-dc"}}</label>
            <div class="form-group">
                <input type="number" name="flags.environment-interaction-multisystem.notes-explicit-dc" placeholder="Explicit DC to insert" value="{{flags.environment-interaction-multisystem.notes-explicit-dc}}" />
            </div>
        </div>
        <div class="form-group stacked command notes">
            <label>{{localize "environment-interaction-multisystem.note.event"}}</label>
            <div class="form-group">
                <textarea name="flags.environment-interaction-multisystem.notes">{{flags.environment-interaction-multisystem.notes}}</textarea>
            </div>
            <input type="text" name="flags.environment-interaction-multisystem.notes-args"
                class="ei-macro-execute-args-button-{{id}}-{{flags.environment-interaction-multisystem.notes-args}}"
                placeHolder="Additional args e.g.'arg0,arg1,ecc.' on the macro are recovered from args[0],args[1],ecc."
                value="{{flags.environment-interaction-multisystem.notes-args}}" />
        </div>
        <div class="form-group stacked command notes-condition">
            <label>{{localize "environment-interaction-multisystem.note.event-condition"}}</label>
            <div class="form-group">
                <textarea name="flags.environment-interaction-multisystem.notes-condition">{{flags.environment-interaction-multisystem.notes-condition}}</textarea>
            </div>
            <input type="text" name="flags.environment-interaction-multisystem.notes-condition-args"
                class="ei-macro-execute-args-button-{{id}}-{{flags.environment-interaction-multisystem.notes-condition-args}}"
                placeHolder="Additional args e.g.'arg0,arg1,ecc.' on the macro are recovered from args[0],args[1],ecc."
                value="{{flags.environment-interaction-multisystem.notes-condition-args}}" />
        </div>
        <div class="form-group stacked command notes-success">
            <label>{{localize "environment-interaction-multisystem.note.event-success"}}</label>
            <div class="form-group">
                <textarea name="flags.environment-interaction-multisystem.notes-success">{{flags.environment-interaction-multisystem.notes-success}}</textarea>
            </div>
            <input type="text" name="flags.environment-interaction-multisystem.notes-success-args"
                class="ei-macro-execute-args-button-{{id}}-{{flags.environment-interaction-multisystem.notes-success-args}}"
                placeHolder="Additional args e.g.'arg0,arg1,ecc.' on the macro are recovered from args[0],args[1],ecc."
                value="{{flags.environment-interaction-multisystem.notes-success-args}}" />
        </div>
        <div class="form-group stacked command notes-failure">
            <label>{{localize "environment-interaction-multisystem.note.event-failure"}}</label>
            <div class="form-group">
                <textarea name="flags.environment-interaction-multisystem.notes-failure">{{flags.environment-interaction-multisystem.notes-failure}}</textarea>
            </div>
            <input type="text" name="flags.environment-interaction-multisystem.notes-failure-args"
                class="ei-macro-execute-args-button-{{id}}-{{flags.environment-interaction-multisystem.notes-failure-args}}"
                placeHolder="Additional args e.g.'arg0,arg1,ecc.' on the macro are recovered from args[0],args[1],ecc."
                value="{{flags.environment-interaction-multisystem.notes-failure-args}}" />
        </div>

        <footer class="sheet-footer flexrow">
            <!--
            <button type="submit"><i class="fas fa-save"></i> {{ localize "buttons.saveMacro" }}</button>
            <button class="execute" type="button"><i class="fas fa-dice-d20"></i> {{ localize "buttons.executeMacro" }}</button>
            -->
        </footer>
    {{!-- {{/if}} --}}
</form>
